// Form
// -------------------------------------------------

form {

    button {
        margin-top: 3rem;
    }

    ul {
        list-style-type: none;
    }

    .errorlist {
        color: color("red");
    }

    .helptext {
        display: block;
        font-size: 90%;
        margin-bottom: $generic-margin-bottom;
        opacity: $muted-opacity;
    }
}
