{% extends 'example/base.html' %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'Customers' %}</h2>
    <table>
        <thead>
            <tr>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.first_name }} {{ object.last_name }}, {{ object.billing_address_1 }}, {{ object.billing_postal_code }}</td>
                <td class="text-right"><a href="{% url 'make_payment' object.pk %}">{% trans 'Make Payment' %}</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">{% trans 'Please add a customer in the admin site' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
